.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 100px;
  z-index: 10;
}

.menu-title {
  font-size: 4rem;
  color: var(--cyber-dark);
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.menu-title .subtitle {
  font-size: 1.5rem;
  color: var(--cyber-gray);
  display: block;
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 10px;
}

.menu-options {
  display: flex;
  margin-bottom: 15rem;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.menu-line {
  width: 60vw;
  height: 2px;
  background-color: var(--cyber-primary);
  position: absolute;
  left: 50%;
  bottom: 160px;
  transform: translateX(-50%);
  opacity: 0.3;
}